<html dir="ltr" prefix="content: http://purl.org/rss/1.0/modules/content/ dc: http://purl.org/dc/terms/ foaf: http://xmlns.com/foaf/0.1/ og: http://ogp.me/ns# rdfs: http://www.w3.org/2000/01/rdf-schema# sioc: http://rdfs.org/sioc/ns# sioct: http://rdfs.org/sioc/types# skos: http://www.w3.org/2004/02/skos/core# xsd: http://www.w3.org/2001/XMLSchema#" class="js" lang="es"><head>
  <link rel="profile" href="http://www.w3.org/1999/xhtml/vocab">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Nav and address bar color -->
  <meta name="theme-color" content="#774292">

  <link type="text/css" rel="stylesheet" href="../static/bootstrap/css/font-awesome.css">
  <link type="text/css" rel="stylesheet" href="../static/bootstrap/css/css.css" media="all">
  <link type="text/css" rel="stylesheet" href="../static/bootstrap/css/css_002.css" media="all">
  <link type="text/css" rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css" media="all">
  <link type="text/css" rel="stylesheet" href="../static/bootstrap/css/poncho.min.css" media="all">
  <link type="text/css" rel="stylesheet" href="../static/bootstrap/css/icono-arg.css" media="all">
  <link type="text/css" rel="stylesheet" href="../static/bootstrap/css/argentina.css" media="all">

  <link type="text/css" rel="stylesheet" href="../static/bootstrap/css/custom.css" media="all">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merienda+One">

  <title>Inicio | Cámara Termográfica</title>
</head>

<body role="document" class="html not-front not-logged-in no-sidebars page-node page-node- page-node-6927 node-type-area og-context og-context-node og-context-node-6927 i18n-es">
  <header>
    <nav class="navbar navbar-top navbar-default" role="navigation">
      <div class="container">
      <a class="navbar-brand" href="/">
      <img src="../static/images/logo CopitoSystem.png" width="224" height="50">
        <div>
          <div class="navbar-header">
            <a class="navbar-brand" href="index.html  ">
            </a>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main role="main">    
    <a id="main-content"></a>
    <div class="container">
    </div>
    <div class="region region-content">
      <div id="block-system-main" class="block block-system clearfix">
        <div class="panel-pane pane-imagen-destacada">
          <div class="pane-content">
            <section class="jumbotron" style="background-image: url(../static/images/jumbotronIndex.jpg);">    
              <div class="jumbotron_body">
                <div class="container">
                  <div class="row">
                    <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
                      <h1 style="font-family: 'Merienda One';">Utilizá el dispositivo generador de imágenes termográficas!</p>
                      <p><a id="botonVioleta" class="btn btn-lg btn-success" href="/camara" role="button">Fotografiar</a></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="overlay">
              </div>
            </section>
          </div>
        </div>
        <br>
        <section>
          <div class="container">
            <div class="panel-pane pane-atajos">  
              <div class="pane-content">
                <div class="row panels-row">
                  <div class="col-xs-12 col-sm-6 col-md-4"><a href="/camara" class="panel panel-default"><div class="panel-body">
                    <div class="media">
                      <div class="media-left padding-20">
                        <i class="fa fa-fw fa-3x fa-camera text-primary"></i>
                      </div>
                      <div class="media-body">
                        <h3>Cámara Termográfica</h3>
                          <div class="text-muted">
                            <p>Entrá y utilizá la cámara. Te daremos un pequeño instructivo de cómo se utiliza.</p>
                          </div>
                      </div>
                    </div>
                  </div>
                  </a></div>
                  <div class="col-xs-12 col-sm-6 col-md-4"><a href="/como-se-hace" class="panel panel-default"><div class="panel-body">
                    <div class="media">
                      <div class="media-left padding-20">
                        <i class="fa fa-fw fa-3x fa-wrench text-primary"></i>
                      </div>
                      <div class="media-body">
                        <h3>¿Cómo se realiza?</h3>
                        <div class="text-muted">
                          <p>Si querés construir tu propia cámara averigua cómo y los materiales que necesitas!.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  </a></div>
                  <div class="col-xs-12 col-sm-6 col-md-4"><a href="/quien-soy" class="panel panel-default"><div class="panel-body">
                    <div class="media">
                      <div class="media-left padding-20">
                        <i class="fa fa-fw fa-3x fa-group text-primary"></i>
                      </div>
                      <div class="media-body">
                        <h3>¿Quién lo realizó y con qué fin?</h3>
                        <div class="text-muted">
                          <p>Si querés saber de donde surgió la idea, te lo cuento.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  </a></div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </main>
  <footer class="main-footer" style="padding-bottom: 15px">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <section class="block block-block clearfix" style="padding: 16px">
            Los contenidos de este sitio fueron creados por <a href="#" target="_blank">CopitoSystem</a></p>
          </section>
        </div>
        <div class="col-md-3 col-sm-6">
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="region region-footer3">
            <section id="block-menu-menu-footer-3" class="block block-menu clearfix">
              <ul class="menu nav"><li class="first leaf"><a href="/">Inicio</a></li>                
                <li class="leaf"><a href="camara">Cámara</a></li>
                <li class="leaf"><a href="como-se-hace">Ayuda</a></li>
                <li class="leaf"><a href="como-se-hace">Cómo se hace?</a></li>
              </ul>
            </section>
          </div>
        </div>
      </div>
    </div>
  </footer>  
</body>
</html>

